<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestaurantReviewService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62782/RestaurantReviewService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantReviewService"
                contract="IRestaurantReviewService" name="BasicHttpBinding_IRestaurantReviewService" />
        </client>
    </system.serviceModel>
</configuration>